<div class="loader-wrapper">
    <span class="loader"><span class="loader-inner"></span></span>
</div>

<div class="scroll-up-btn rounded-circle">
    <i class='bx bxs-chevron-up'></i>
</div>

<script>
// Preload
$(window).on("load",function(){
    $(".loader-wrapper").fadeOut("slow");
});
</script>